@import 'top-bar';
@import 'viewport';
@import 'content-browser';
@import 'view-panel';
@import 'flex';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ember-application > .ember-view {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.resizer-container {
  width: 100%;
  height: 100%;

  .resizer-panel {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &.cols {

    .resizer-handle {
      width: 5px;
      height: 100%;
      background-color: #B3B3B3;
      cursor: col-resize;
      position: absolute;
      right: 0;
    }

    .resizer-panel {
      background-color: #C6C6C6;
      float: left;
      width: 50%;

      &:last-of-type .resizer-handle {
        display: none;
      }
    }
  }

  &.resizing {
    cursor: col-resize;
    &.row {
      cursor: row-resize;
    }
  }
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.table-row {
  display: table-row;
  width: 100%;
}

.table-cell {
  display: table-cell;
}
