@import 'top-bar';
@import 'viewport';
@import 'content-browser';
@import 'view-panel';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ember-application > .ember-view {
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.resizer-container {
  width: 100%;
  height: 100%;

  .resizer-panel {
    width: 100%;
    height: 100%;
  }

  &.cols {

    .resizer-handle {
      width: 10px;
      height: 100%;
      float: left;
      background-color: #B3B3B3;
      cursor: col-resize;
    }

    .resizer-panel {
      background-color: #C6C6C6;
      float: left;
      width: 50%;
    }
  }

  .resizer-handle {

    &:last-of-type {
      display: none;
    }
  }
}
