<div class="table flex-rows">
  {{#top-bar}}{{/top-bar}}
  <div class="table-row">
      <div class="table-cell">
        {{#resizer-container}}
          {{#resizer-panel}}
            {{#view-port}}{{/view-port}}
          {{/resizer-panel}}
          {{#resizer-panel}}
            {{#content-browser}}{{/content-browser}}
          {{/resizer-panel}}
        {{/resizer-container}}
      </div>
  </div>
</div>

