{{#top-bar}}{{/top-bar}}
  {{#resizer-container}}
    {{#resizer-panel}}
      {{#view-port}}{{/view-port}}
    {{/resizer-panel}}
      <div class="col-resizer"></div>
    {{#resizer-panel}}
      {{#content-browser}}{{/content-browser}}
    {{/resizer-panel}}
  {{/resizer-container}}
{{outlet}}

